
<%= form_for User.new, layout: :basic do |f| %>

<% if user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>


<div class="container">
	<%= f.text_field :first %>
</div>

<div class="container">
	<%= f.text_field :middle %>
</div>

<div class="container">
	<%= f.text_field :last %>
</div>

<div class="container">
	<%= f.text_field :email %>
</div>

<div class="container">
	<%= f.password_field :password %>
</div>

<div class="container">
	<%= f.password_field :password_confirmation, label: 'Confirm Password' %>
</div>


<div class="container">
	<%= f.submit "Create my account", class: "btn btn-primary" %>
</div>

 <% end %>
