<!DOCTYPE html>
<html>
<head>
	<title>Course Catalog</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<%= navbar do %>
<%= vertical do %>
<%= link_to 'Home', root_path %>
<% end %>
<%= horizontal do %>
<%= nav position: :top, class: 'navbar-right' do %>
<% if logged_in? %>
<%= link_to 'Courses', courses_path %>
<%= link_to 'Subjects', subjects_path %>
<%= link_to 'Instructors', instructors_path %>
<%= link_to "Profile", current_user %>
<%= link_to "Log out", logout_path, method: "delete" %>
<% else %>
<%= link_to "Log in", login_path %>
<% end %>
<% end %>
<% end %>
<% end %>

<body>

	<%= yield %>
</body>
</html>
